body {
    margin: 0;
    font-family: sans-serif;
}

.content {
    margin: auto;
    width: 800px;
    box-shadow: 0 0 3px gray;
}

h1 {
    padding: 10px 10px;
    padding-left: 80px;
    display: inline-block;
}

button {
    background: white;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 250ms;
}
button:hover {
    background-color: #d0d0d0;
}

#People .status {
    display: inline;
    color: gray;
}
#People .person {
    background-color: white;
    border: 2px solid #d4d4d4;
    border-radius: 3px;
    margin: 5px 10px;
    display: flex;
    align-items: stretch;
}
#People .person input {
    margin: 5px;
    flex-grow: 1;
}
#People .delete {
    padding: 6px 5px;
    display: inline-block;
    background-color: #d4d4d4;
}
#People .add {
   margin: 10px 10px;
   margin-top: 0;
}