<html>
    <head>
	<script src="https://unpkg.com/vue@2.2.1"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js"></script>
	    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css') }}" \>
    </head>
    <body>
	<div class="content">
	    {{ vue|safe }}
	    <script>
	     var model = {{ model|tojson|safe }}
	    </script>
	</div>
	<script src="{{ url_for('static', filename=jsfilename) }}"></script>
    </body>
</html>
